In [1]:
import pandas as pd
df=pd.read_csv(r'D:\Machine leaning my work\Naive Bayes\spam.csv')
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [2]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [4]:
df['spam']=df['Category'].apply(lambda x: 1 if x=='spam' else 0)
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.Message,df.spam,test_size=0.25)

We have a full sentence as a message. Inorder to predict, each occurance of the word in a sentence is recorded and stored in the matrix.
For eg if the message is "This document is the second document" then every word occurs once and the word document occurs twice. So in the document field we will have 2. Similarly for all the messages the word fields are recorded.
We use CountVectorizer method. Countvectorizer is a method to convert text to numerical data.

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

Three types of naive bayes classifier
1. Bernoulli Naive Bayes - used when there are only 2 binary values (ie) 0 and 1.
2. Multinomial Naive Bayes - Used when there is a discrete data (ie) 1-5
3. Gaussian Naive Bayes - Used when the featres are continuous.

In [9]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count,y_train) # X_train_count is the emails converted into a number matrix

MultinomialNB()

In [16]:
X_test_count = v.transform(X_test)
model.score(X_test_count,y_test)

0.9863603732950467

Same prediction is done using an API. A pipeline is created where the text is converted into vector and apply multinomial naive bayes.

In [19]:
from sklearn.pipeline import Pipeline
clf = Pipeline([
    ('vectorizer',CountVectorizer()),
    ('nb',MultinomialNB())
])

In [20]:
clf.fit(X_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [21]:
clf.score(X_train,y_train)

0.9937784158889686